{% extends 'layout.html' %}

{% block content %}

<div id="App" class="container">
    <div class="page-header clearfix">
        <h1 class="pull-left">JBehave Monitor <small id="LastUpdated"></small></h1>
        <button id="Refresh" class="btn btn-primary pull-right" style="margin-top: 22px;">
            <i class="icon-refresh icon-white"></i> Refresh
        </button>
    </div>
    <div id="Summary">

    </div>
    <div id="Graph">

    </div>
    <div id="MostRecent">

    </div>
    <div id="Tests">

    </div>
</div>

{% endblock %}

{% block scripts %}

<script src="/javascripts/app/init.js"></script>

<script src="/javascripts/app/views/App.view.js"></script>
<script src="/javascripts/app/views/Tests.view.js"></script>
<script src="/javascripts/app/views/Test.view.js"></script>
<script src="/javascripts/app/views/FailuresGraph.view.js"></script>
<script src="/javascripts/app/views/MostRecent.view.js"></script>
<script src="/javascripts/app/views/Summary.view.js"></script>
<script src="/javascripts/lib/form.template.js"></script>

<script src="/javascripts/app/collections/Builds.collection.js"></script>
<script src="/javascripts/app/collections/Tests.collection.js"></script>

<script src="/javascripts/app/models/Settings.model.js"></script>
<script src="/javascripts/app/models/Test.model.js"></script>
<script src="/javascripts/app/models/Build.model.js"></script>

<script src="/javascripts/app/views/templates.js"></script>

{% endblock %}