body {

}

a {

}

#FailedTests th {
    cursor: pointer;
}

#FailedTests th.asc,
#FailedTests th.desc {
    color: #0088cc;
}

#FailedTests tr {
    cursor: pointer;
}

#FailedTests tr.test-row.details {
    font-weight: bold;
}

#Graph {
    height: 350px;
    width: 100%;
    margin-bottom: 30px;
}