<tr class="test-details">
    <td colspan="5">
        <ul>
        {{#each builds}}
            <li>Failed on build {{this.number}}
             {{#if this.node}}
                on node <a href="{{this.node}}">{{this.node}}</a></li>
             {{/if}}
        {{/each}}
        </ul>
    </td>
</tr>