<table id="FailedTests" class="table table-bordered table-hover table-striped">
    <thead>
        <tr>
            <th data-sort="name">Test</th>
            <th data-sort="mostRecent">Most Recent Failure</th>
            <th data-sort="count">Failure Count</th>
            <th data-sort="rate">Failure Rate</th>
            <th data-sort="score">Failure Score</th>
        </tr>
    </thead>
    <tbody>

    </tbody>
</table>